* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white !important;
}

.sessao-um {
  height: 430px;
  background-color: #F36C37;
}
@media screen and (min-width: 1700px) and (max-width: 1920px) {
  .sessao-um {
    height: 50vh;
  }
}
.sessao-um .sessao-um-tenis {
  z-index: 999;
  position: absolute;
  right: 0px;
  width: 100%;
}
.sessao-um .sessao-um-tenis img {
  margin-left: 0;
  position: absolute;
  width: 55%;
  right: 0;
  overflow: hidden;
}
.sessao-um .sessao-um-rightdots {
  z-index: 99;
  display: block;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 190px;
}
.sessao-um .sessao-um-rightdots img {
  display: block;
  margin-left: auto;
  width: 80%;
}
.sessao-um .sessao-um-leftdots img {
  margin-top: 70px;
  margin-left: -30px;
  position: absolute;
  width: 190px;
}
.sessao-um .sessao-um-texto {
  position: absolute;
  margin-left: 200px;
  overflow: hidden;
  height: 450px;
}
.sessao-um .sessao-um-texto p {
  margin-bottom: -15px;
  overflow: hidden;
}
.sessao-um .sessao-um-texto span img {
  margin-top: 50px;
  width: 200px;
}
.sessao-um .sessao-um-texto p span:first-child {
  font-size: 3em;
  font-weight: 300;
}
.sessao-um .sessao-um-texto p span:first-child ~ span {
  font-size: 5em;
  font-weight: 700;
  -webkit-text-stroke: 1px white !important;
  color: #F36C37 !important;
  line-height: 45px;
}
.sessao-um .sessao-um-texto p span:last-child {
  font-size: 5em;
  font-weight: 700;
  -webkit-text-stroke: 0px !important;
  line-height: 90px !important;
}
.sessao-um .sessao-um-texto .edicao-baixada-santista {
  font-size: 16px !important;
}
.sessao-um .sessao-um-texto .inscreva-se {
  border: 3px solid white;
  border-radius: 5px;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 700;
  transition: 0.7s all;
  position: absolute;
  margin-bottom: 5px;
  z-index: 9999;
}
.sessao-um .sessao-um-texto .inscreva-se:hover {
  color: #F36C37 !important;
  background-color: white;
}

.sessao-dois {
  height: auto;
  background-color: #573791;
}
.sessao-dois .sessao-dois-leftdots {
  position: absolute;
  z-index: 99;
  margin-top: 100px;
}
.sessao-dois .sessao-dois-moca {
  z-index: 999;
}
.sessao-dois .sessao-dois-moca img {
  margin-top: -140px;
}
.sessao-dois .sessao-dois-infos {
  margin-top: 30px;
  text-align: center;
}
.sessao-dois .sessao-dois-infos .sessao-dois-textos {
  padding: 15px;
}
.sessao-dois .sessao-dois-infos .sessao-dois-textos h5 {
  font-weight: 700;
}
.sessao-dois .sessao-dois-infos .sessao-dois-textos p {
  font-size: 15px;
}
.sessao-dois .sessao-dois-infos h1 {
  font-size: 40px;
}
.sessao-dois .sessao-dois-infos img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.sessao-dois .sessao-dois-infos a {
  background-color: #F36C37;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.7s all;
}
.sessao-dois .sessao-dois-infos a:hover {
  background-color: white;
  color: #F36C37 !important;
}

.sessao-tres {
  height: 1200px;
  background-color: #F36C37;
}
.sessao-tres .sessao-tres-trilhas {
  margin-top: 80px;
}
.sessao-tres .sessao-tres-trilhas h1, .sessao-tres .sessao-tres-trilhas img {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}
.sessao-tres .sessao-tres-trilhas img {
  width: 100px;
}
.sessao-tres .sessao-tres-trilhas .texto-trilhas {
  text-align: center;
  margin-top: 50px;
}
.sessao-tres .sessao-tres-trilhas .texto-trilhas div p {
  font-size: 14px;
}
.sessao-tres .sessao-tres-trilhas .texto-trilhas div h5 {
  font-weight: bold;
}
.sessao-tres .sessao-tres-trilhas .numero-etapas {
  margin-top: 80px;
  text-align: center;
}
.sessao-tres .sessao-tres-trilhas .numero-etapas .numero {
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  font-size: 44px;
}
.sessao-tres .sessao-tres-trilhas .numero-etapas .numero-ligacao {
  margin-top: 50px;
  border: 2px solid white;
}
.sessao-tres .sessao-tres-trilhas .textos-etapas {
  text-align: center;
  margin-top: 30px;
}
.sessao-tres .sessao-tres-trilhas .textos-etapas .texto-etapa {
  margin-right: auto;
  display: block;
  width: 14.66667%;
  font-weight: bold;
}
.sessao-tres .sessao-tres-trilhas .textos-etapas .texto-etapa span {
  font-weight: 300;
}

footer {
  background-color: #33383e;
}
footer .infos-footer {
  margin: 0 auto;
}
footer .infos-footer .dilema-fcamara {
  margin-top: 80px;
}
footer .infos-footer .dilema-fcamara img {
  width: 150px;
}
footer .infos-footer .dilema-fcamara p {
  margin-top: 30px;
  font-size: 14px;
  color: #9d9d9d !important;
}
footer .infos-footer .dilema-fcamara p strong {
  color: #a7a7a7 !important;
}
footer .infos-footer .onde-estamos {
  margin-top: 50px;
}
footer .infos-footer .onde-estamos .large-6 p {
  color: #f0f0f0 !important;
}
footer .hr-fcamara {
  border: solid 1px #646464;
  margin-bottom: 0;
}
footer .direitos-footer {
  margin: 0 auto;
  font-size: 12px;
  padding: 30px 0;
}
footer .icones-footer {
  display: flex;
  margin-left: auto;
}
footer .icones-footer img {
  margin: 0 10px;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .sessao-um .sessao-um-tenis {
    right: -5%;
  }
  .sessao-um .sessao-um-rightdots {
    top: 290px;
  }
}

/*# sourceMappingURL=landing.css.map */
