*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

/* --------------------------------- LADO ESQUERDO ------------------------------------------------- */

.left-side{
    background-color: rgb(21, 9, 48); 
    height: auto;
}

.imagem-perfil{    
    margin-top: 80px;    
}

.imagem-perfil img{
    border-radius: 50%;
    border: 8px solid white;
    width: 50%;
    margin: 0 auto;
    display: block;
}

.info-perfil{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.info-perfil span{
    font-style: italic;
}

.hr{
    width: 40%;
}

.habilidades-perfil{
    text-align: center;
    color: white;    
    font-style: italic;
    display: grid;
    margin: 0 auto;
    width: 70%;
}

.habilidades-perfil span{
    margin-bottom: 0;
    font-weight: 600;
}

.habilidade-individual{
    margin: 15px 0;
    text-align: center;
}

.habilidade-individual img{
    margin-top: -10px;
    margin-right: 20px;
}

.habilidade-individual span{
    font-weight: 400;
}

/* --------------------------------- LADO DIREITO ------------------------------------------------- */

.right-side{
    background-color: white; 
    margin-top: 50px;
    height: auto;
}

.titulo-topico{
    background-color: rgb(80, 140, 189);
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}

.info-topico{
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

.info-topico h5{
    font-weight: bold;
}

.icon{
    margin-right: 10px;
    width: 28px;
}